# logs
logs
*.log

# node files
/node_modules
modulepaths.json

# typing
/typings/browser*
/typings/main*
/tsd_typings

#ionic 
/engine
/platforms
/plugins
/www/*

# dist
/.tmp
/dist
.webpack.json

# docs
/doc
/runbook/build

# coverage
/coverage

# os
.DS_Store

# editors
*.swp
*~
